<div>
  <div class="col-md-3">
    <h2>Notebooks</h2>
    <section>
      title : {{input value=title}}
      <button {{action 'addNotebook'}}>Add</button>
    </section>
    <section>
      <ul>
      {{#each model as |notebook|}}
        {{#link-to 'notebooks.notes' notebook.id}}
          <li>{{notebook.title}}</li>
        {{/link-to}}
      {{else}}
        <p>No notebooks found</p>
      {{/each}}
      </ul>
    </section>
  </div>
  <div class="col-md-9">{{outlet}}</div>
</div>
