<div>
  <h2>Notebooks</h2>
  <div class="col-md-3">
    <section>
      title : {{input value=title}}
      <button {{action 'addNotebook'}}>Add</button>
    </section>
    <section>
      {{#each model as |notebook|}}
        <div>
        {{#link-to 'notebooks.notes' notebook.id}}
          {{notebook.title}}
        {{/link-to}}
        </div>
      {{else}}
        <p>No notebooks found</p>
      {{/each}}
    </section>
  </div>
  <div class="col-md-9">{{outlet}}</div>
</div>
